body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    text-align: center;
    color: red;
}

.contenedor-telefono {
    width: 100%;
    
}

.telefono {
    width: 50%;
    padding-left: 300px;
}

p {
    color: white;
    font-size: larger;
    text-align: center;
}