* {
    @import url(https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.contenedor-rendicion {
    text-align: center; /* Centra el contenido del contenedor horizontalmente */
    padding-top: 25px;  
}

.contenedor-rendicion > h1 {
    color: red;
}

.contenedor-rendicion > p {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

img {
    width: 50%;
    height: 390px;
}

form {
    text-align: center;
    color: white;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: white;
}

button:hover {
    text-decoration: underline;
}

.contenedor-form {
    font-size: 15px;
}

.btn > a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.btn a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.btn a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.btn a:hover::after {
    transform: scaleX(1);
}