* {
    @import url(https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    text-align: center;
    color: red;
}

.contenedor-telefono {
    width: 100%;
    
}

.telefono {
    width: 50%;
    padding-left: 300px;
}

p {
    color: white;
    font-size: larger;
    text-align: center;
}