* {
    @import url(https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.contenedor-rendicion {
    text-align: center; /* Centra el contenido del contenedor horizontalmente */
    padding-top: 70px;  
}

.contenedor-rendicion > h1 {
    color: red;
}

.contenedor-rendicion > p {
    color: white;
}

 a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

img {
    width: 40%;
}