* {
    @import url(https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    text-align: center;
    color: red;
}

h3 {
    text-align: center;
    color: black;
}

.contenedor-telefono {
    width: 100%;
}

.telefono {
    width: 50%;
    padding-left: 300px;
}

p {
    color: white;
    font-size: larger;
    text-align: center;
}

.contenedor-reglas-general {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor-reglas {
    width: 20%;
    background-color: red;
    height: 500px;
}

.letras {
    text-align: justify;
    margin: 25px;
    color: black;
}

.contenedor-letras-reglas {
    background-color: blue;
    margin: 25px;
    height: auto;
    padding: 1px;
}

/* ESTILOS FORMULARIO */

form {
    text-align: center;
    color: red;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

button:hover {
    text-decoration: underline;
}

.btn > a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    text-decoration: none;
}

.btn a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.btn a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.btn a:hover::after {
    transform: scaleX(1);
}

.titulo-reto {
    color: red;
}